<div>
<h1>Add Trains</h1>

{{$rootScope.train}}
			<form role="form" class="form-horizontal"
				ng-submit="addTrain()" name="trainform">
				<div class="form-group">
					<label for="trainName" class="col-sm-4 control-label">
						TrainName</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="trainName"
							placeholder="" ng-model="$rootScope.train.name" required/>
					</div>
				</div>
				
				<div class="form-group">
					<label for="trainId" class="col-sm-4 control-label"> Train
						Id</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="trainId"
							placeholder="SRCDSTTYPE" ng-model="train.trainId" required/>
					</div>
				</div>

				<div class="form-group">
					<label for="sourceStation" class="col-sm-4 control-label">
						Source Station</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="sourceStation"
							placeholder="" ng-model="train.sourceStation" required />
					</div>
				</div>

				<div class="form-group">
					<label for="destinationStation" class="col-sm-4 control-label">
						Destination Station</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="destinationStation"
							placeholder="" ng-model="train.destinationStation" required/>
					</div>
				</div>
				<div class="form-group">
					<label for="departs" class="col-sm-4 control-label"> Departs (Source)</label>
					<div class="col-sm-10">
						 <input type="time"	class="form-control" id="departs" 	ng-model="departs" required/>
						 <input type="hidden" ng-model="train.departs" value="{{train.departs=departs.getHours()*3600+departs.getMinutes()*60}}">
					</div>
				</div>
				<div class="form-group">
					<label for="arrives" class="col-sm-4 control-label"> Arrives (Destination)</label>
					<div class="col-sm-10">
						 <input type="time"	class="form-control" id="arrives" required 	ng-model="arrives" />
							<input type="hidden" ng-model="train.arrives" value="{{train.arrives=arrives.getHours()*3600+arrives.getMinutes()*60}}">
					</div>
				</div>
				<div class="form-group">
					<label for="distance" class="col-sm-4 control-label">
						Distance</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="distance"
							placeholder="" ng-model="train.distance" required/>
					</div>
				</div>
				
				<div class="form-group">
					<label for="seats" class="col-sm-4 control-label"> Seats Available</label>
					<div class="col-sm-10">
						 <input type="number" class="form-control" id="seats" placeholder="00" ng-model="train.seats" required/>
					</div>
				</div>
				
				<div class="form-group">
					<label for="Fare" class="col-sm-4 control-label"> Fare ($)</label>
					<div class="col-sm-10">
						 <input type="number"
							class="form-control" id="fare" placeholder="00.00"
							ng-model="train.fare" required/>
					</div>
				</div>
				<div class="form-group">
				<label for="weekDays" class="col-sm-4 control-label"> Days Available</label>
					<div week-Days-List week-days="weekDays"></div>
   </div>
				<div class="form-group">
					<label for="trainType" class="col-sm-4 control-label"> Type</label>
					<div class="col-sm-10">
						<select class="form-control" id="trainType" ng-model="train.type">
							<option value="1">Passenger</option>
							<option value="2">Express</option>
							<option value="3">Local</option>
							<option value="4">Super Fast Express</option>
							<option value="5">Special</option>
						</select>
					</div>
				</div>
				
				<button type="submit"  class="btn btn-primary">Add Train</button>
			</form>
</div>